* {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 1600px;
    margin: auto;
}

.view {
    width: 750px;
    /*margin: auto;*/
    padding: 5px;
    display: inline-block;
    float: left;
}

.header {
    width: 600px;
    margin: auto;
    text-align: center;
}

.innerWrapper {
    width: 790px;
    display: inline-block;
    float: left;
}